input.numberinput {
	width: 70px;
}

label.control-label {
	padding-right: 7px;
	padding-left: 7px;
}

.size {
	display: flex;
	margin-left: -7px;
}

img {
	border: 5px solid black;
}

.leftcolumn {
	float: left;
}

.rightcolumn {
	float: right;
}